<!DOCTYPE html>
<html lang="en">


<!-- blog-details23:51-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <%- include('partials/header') %>
        <%- include('partials/sidemenu') %>







        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Drug Requests</h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                       
                                        <th>Drug</th>
                                        <th>Quantity</th>
                                        <th>Patient</th>
                                       

                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var request of medicamentRequest) { %>
										<% if( request.image == 'pill-png-2') { %>

                                    <tr>
                                      
                                        <td> <%= request.medicament %></td>
                                        <td><%= request.quantity %></td>
                                        <td><img width="28" height="28"
                                                src="/users/img/<%= request.patient.owner.avatar %>"
                                                class="rounded-circle m-r-5" alt=""><%= request.patient.name %>
                                            <%= request.patient.lastName %></td>
                                     

                                       
                                    </tr>
									<% } %>
									<% } %>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Prescription Requests</h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        
                                        <th>Prescription</th>
                                        <th>Patient</th>
                                      
                                        <th>Doctor</th>

                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var request of medicamentRequest) { %>
                                       
										<% if( request.image != 'pill-png-2') { %>
										<tr>
										 
											<td> <%= request.perscription.perscriptionDescription %></td>
											<td><img width="28" height="28"
													src="/users/img/<%= request.patient.owner.avatar %>"
													class="rounded-circle m-r-5" alt=""><%= request.patient.name %>
												<%= request.patient.lastName %></td>
										 
											<td><img width="28" height="28"
													src="/users/img/<%= request.perscription.doctor.owner.avatar %>"
													class="rounded-circle m-r-5"
													alt=""><%= request.perscription.doctor.name %>
												<%= request.perscription.doctor.lastName %></td>
									
											
										</tr>
										<% } %>
										<% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/app.js"></script>
</body>


<!-- blog-details23:56-->

</html>